html, body
{
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
	
}

#player
{
	background-color:red;
	height:100px;
	width:100px;
	z-index:3;
} 

#boulder
{
	background-color:green;
	height:100px;
	width:100px;
} 

#gameWindow
{
	position:absolute;
	z-index:3;
	width:1000;
	height:1000;
	
	border:solid 20px white;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}	

#backgroundlayer
{
	background-image: url("./assets/background/background.png");
	
	width:100%;
	height:100%;
}
#parallaxLayer1
{
	position:fixed;
    left:0;
    top:0;
	
	width:100%;
	height:100%;
	background-image: url("./assets/background/layer2stars.png");
	z-index:2;
}

#parallaxLayer2
{
	position:fixed;
    left:0;
    top:0;

	width:100%;
	height:100%;
	background-image: url("./assets/background/layer1stars.png");
}

#topBar
{
	height:50px;
	width:100%;
	margin:0px;
	padding:0px;
	
	background-color:black;	
	position:fixed;
	z-index:3;
	
	color:white;
	font-size:20px;
	padding-top:10px;
}